body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #011F3F;
  width: 100%;
  min-height: 600px;
  padding: 0px;
  margin: 0px;
}

.divider {
  display: none;
  height: 0px;
  width: 100%;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  line-height: 1.5;
  margin:  3% 4%;
  color: #FEF2BF;
}

.container {
  /* position: absolute;
  top: 25%;
  left: 25%;
  right: 25%; */
  display: flex;
  justify-content: center;
  max-width: 60%;
  margin: auto;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
  }

.btn {
  margin: 8px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.green {
  background-color: green;
  border-top-left-radius: 100%;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.score {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  line-height: 1.5;
  margin:  3% 4%;
  color: #FEF2BF;
}

footer {
  position: fixed;
  bottom: 0%;
  left: 30%;
  right: 30%;
  text-align: center;
}

#footer-text {
  font-family: consolas;
  font-size: 0.8em;
  color: #FEF2BF;
  background: linear-gradient(rgb(186, 0, 186) 10%, rgb(122, 0, 106) 80%, rgba(255,255,255,.1) 100%);
  border-radius: 20px 20px 0% 0%;
  padding: 5px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .divider {
    display: block;
    height: 50px;
  }

  #level-title {
    font-size: 1.5rem;
  }

  .container {
    top: 35%;
    max-width: 100%;
  }

  .btn {
    height: 180px;
    width: 180px;
    margin: 3px;
    border: 8px solid black;
  }

  .score {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .btn {
    height: 120px;
    width: 120px;
    border: 6px solid black;
  }
  .score {
    font-size: .75rem;
  }
}